<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTRATION PAGE</title>
</head>
<body>
    <h1>REGISTRATION</h1><br>
    <form action="" method="POST">
        {% csrf_token %}
        <h5>Full Name: </h5><input type="text" name="Name", placeholder="Full name"><br>
       <h5>Phone Number:</h5> <input type="text", name="PhoneNo", placeholder="Phone"><br>
        <h5>Address</h5><textarea rows="3", cols="25", name="addr", id="addr"></textarea><br>
        <input type="submit">
    </form>
</body>
</html>